*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}

body{
  background-color: var(--secondary-faded-white);
  font-size: 1.5rem;
}

:root {
  --primary-light-blue: #bde0fe;
  --primary-dark-blue: #a2d2ff;
  --primary-light-pink: #f1c0e8;
  --primary-purple: #cfbaf0;
  --secondary-faded-white: #f8edeb;
  --primary-font-family: "WDXL Lubrifont TC", sans-serif;
}

.header-section{
  background-color: var(--primary-dark-blue);
  display:flex;
  justify-content:space-between;
  align-items: center;
  height:8rem;
  font-size: 3rem;
  width:100%;
}
.header-section .logo{
  padding-left:4rem;
  position:relative;
}

.logo .two{
  padding-left: 3rem
}

.icons{
  padding-right:3rem;
  display:flex;
  justify-content: space-between;
  gap:3rem;
}

@media screen and (max-width:380px){
  .header-section .logo{
    font-size: 2rem;
    padding-left:1rem
  }
  .icons{
    display:flex;
    flex-direction: column;
    gap:.5rem;
  }
}
@media screen and (max-width:400px){
  .icons{
    display:flex;
    flex-direction: column;
    gap:.5rem;
  }
}

.main-section{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:86vh;
  position:relative;
  /* padding-top:10rem  */
}
.three {
  font-size: 5rem;
  font-family: var(--primary-font-family);
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 2rem;

}

form input{
  height:5rem;
  width:35rem;
  border-radius:.8rem;
  border:none;
  

}
input::placeholder{
  padding-left:.9rem;
}
form button{
  height:5rem;
  width:10rem;
  border:none;
  background-color: var(--primary-light-pink);
  border-radius:.8rem;
}
.four{
  font-family: var(--primary-font-family);
  font-size: 2rem;
  text-transform: capitalize;
  display:flex;
  padding-top: 2rem;
  /* padding-left:3rem; */
  
}

@media screen and (max-width:350px){
  .main-section{
    display: flex;
    flex-direction: column;
    padding-left:3rem
    /* align-items: center; */
  }
  .three{
    font-size: 3rem;
  }
  form input{
    height:4rem;
    width:20rem;
  }
  form button{
    height:4rem;
    width:5rem;
  }
  .four{
    padding-left: 4rem;
  }
}
@media screen and (max-width:450px){
  .main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:3rem;
  }
  .three{
    text-align:center;
  }
  
}

